.small-caps {
    font-variant: small-caps;
  }
body{
    display:block;
    float: center;
    background-color: #F1F7FF;
    width: 1442px;
    margin-left: 150px;
    font-family: 'Arial', 'Verdana', sans-serif;
}

#header{
    display: block;
    height: 87px;
    float: center;
    padding-top: 5px;
    margin-left: 10px;
}

#header ul{
    z-index:2;
    position: absolute;
}
#header li{
    display: inline;
}
#header a{

    text-decoration: none;
    font-size: 1.7rem;
}

#header a:link{
    color:#143B6F ;
}
#header a:visited{
    color:#143B6F ;
}
#header a:hover{
    color:	#235aa3 ;
}

#logo{
    width: 280px;
    float: left; 
}




#nazv {
    margin-left: 250px;
    float: left; 
    padding-top: 15px;
}

.nazv0{
    margin-right: 40px;
}

.navbar{
    float: right;
    margin-right: 20px;
}






#block{
    width: 1442px;
    height: 87px;
    background-color: white;
    z-index:2;
    position: absolute;
}

#block2{
   
    display:block;
    position: absolute;
    top: 87px;
    left: 160px;

    z-index:1;
}

#avatar{
 border-radius: 50%;
 z-index:2;
 display: flex;
 position: absolute;
 top: 138px;
 left: 247px;

 overflow: hidden; 
}


.fon{
    display:block;
    position: absolute;
    top: 127px;
    left: 412px;

    z-index:2; 
    background-color: white;
    opacity: 0.8;
    width: 392px;
    height: 184px;
}

#text{
    display:block;
    position: absolute;
    top: 18%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index:3; 
}
#text2{
    display:block;
    position: absolute;
    top: 72%;
    left: 31%;
    transform: translate(-50%, -50%);
    z-index:3; 
    font-size: 1.5rem;
}


#inform{
    margin-top: 400px;
    margin-left: 64px;
}

#dannye{
    display:block;
    position: absolute;
    z-index:2; 
    color:#363D4E;
}


#kart{
    display:block;
    position: absolute;
    z-index:2; 
    margin-top: 52px;
}

#kart2{
    display:block;
    position: absolute;
    z-index:2; 
    margin-top: 190px;
}

#kart3{
    display:block;
    position: absolute;
    z-index:2; 
    margin-top: 328px;
}

#button{
    margin-top: 608px;
    margin-left: 1136px;
    background-color:#143B6F;
    color:white;
    border:none; 
    padding:2px;
    height:40px; 
    width: 210px;
    display:block;
    position: absolute;
    z-index: 2;
    font-size: 24px;
  
  }
  #button:hover {
    background-color:#2a48aa;
    transition: 0.7s;
  }

.kart0{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:3; 
    width: 1285px;
    height:89px;
    background-color: white;
    opacity:0.8;
    font-size:1.2rem ;
}

.tex{
    display:block;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    font-size:1.2rem;
    z-index:4;
}

.tex1{
    display:block;
    position: absolute;
    top: 55%;
    left: 95%;
    transform: translate(-50%, -50%);
    font-size:1.3rem;
    z-index:4;
}



#podval{
    margin-top: 700px;
    z-index: 2;
    position: absolute;

    background-color: #50739F;
    width: 1442px;
    height: 200px;
}

#tel{
    color:white ;
    font-size: 1.2rem;
    margin-top: 43px;
    margin-left: 43px;
    float:left;
}

#seti{
    color:white ;
    font-size: 1.2rem;
    margin-top: 43px;
    margin-right: 43px;
    float:right;
}
#seti img{
    width: 37px;
    margin-right: 10px;
}

#politika{
    color: black;
    font-size: 1rem;
    float:left;
    clear: both;
    margin-top: 40px; 
    margin-left: 43px;  
}